[tool.commitizen]
name = "cz_conventional_commits"
version = "0.8.0"
tag_format = "$version"
version_files = [
    "pyproject.toml:version"
]


[tool.ruff]
line-length = 88
ignore = [
    "E501",
    "D1",
    "D415",
]

[tool.ruff.isort]
known-first-party = ["tests"]

[tool.ruff.pydocstyle]
convention = "google"


[tool.mypy]
files = [
    "bahamut_ani_stat",
    "tests"
]
ignore_missing_imports = true
follow_imports = "silent"
warn_redundant_casts = true
warn_unused_ignores = true
warn_unused_configs = true
plugins = ["sqlalchemy.ext.mypy.plugin"]

[[tool.mypy.overrides]]
    module = ["bahamut_ani_stat.*"]
    # Ensure full coverage
    disallow_untyped_calls = true
    disallow_untyped_defs = true
    disallow_incomplete_defs = true
    disallow_untyped_decorators = true
    # Restrict dynamic typing
    disallow_any_generics = true
    disallow_subclassing_any = true
    warn_return_any = true

    [[tool.mypy.overrides]]
    module = ["tests.*"]
    disallow_untyped_defs = false
    disallow_untyped_decorators = false


[tool.pytest.ini_options]
minversion = "7.2.0"
testpaths = "tests"
addopts = "--strict-markers"
norecursedirs = [
    ".*",
    "build",
    "dist",
    "CVS",
    "_darcs",
    "{arch}",
    "*.egg",
    "venv",
    "env",
    "virtualenv"
]
markers = [
    "slow"
]


[tool.coverage]
    [tool.coverage.report]
    show_missing = true
    exclude_lines = [
        # Have to re-enable the standard pragma
        'pragma: no cover',

        # Don't complain about missing debug-only code:
        'def __repr__',
        'if self\.debug',

        # Don't complain if tests don't hit defensive assertion code:
        'raise AssertionError',
        'raise NotImplementedError',

        # Don't complain if non-runnable code isn't run:
        'if 0:',
        'if __name__ == .__main__.:'
    ]
    omit = [
        'env/*',
        'venv/*',
        '*/virtualenv/*',
        '*/virtualenvs/*',
        '*/tests/*'
    ]

[tool.poetry]
name = "bahamut_ani_stat"
version = "0.8.0"
authors = ["Wei Lee <weilee.rx@gmail.com>"]
description = "Toolkit for Bahamut ani gamer data"
license = "MIT license"
readme = "docs/README.md"
repository = "https://github.com/Lee-W/bahamut_ani_stat"

[tool.poetry.dependencies]
python = "^3.8"
httpx = "^0.23.0"
bs4 = "^0.0.1"
tqdm = "^4.61.1"
dataclasses-json = "^0.5.4"
lxml = "^4.6.3"
click = "^8.0.1"
SQLAlchemy = {extras = ["mypy"], version = "^1.4.20"}
bokeh = "^2.3.3"
pandas = "^1.3.0"
pydantic = "^1.8.2"

[tool.poetry.dev-dependencies]
# task management
invoke = "^1.4.1"
# test
pytest = "^7.2.0"
pytest-cov = "^2.8.1"
pytest-mock = "^3.0.0"
pytest-xdist = "^1.31.0"
pytest-regressions = "^2.2.0"
pytest-httpx = "^0.21.0"
pytest-datadir = "^1.3.1"
hypothesis = "^5.8.0"
pytest-sugar = "^0.9.4"
coverage = {extras = ["toml"], version = "^7.2.7"}
# style
ruff = "^0.0.262"
mypy = "^0.950"
black = ">=22.10.0"
# security
bandit = "^1.6.2"
pip-audit = "^2.4.5"
# git
commitizen = "^3.0.0"
pre-commit = "^2.2.0"
# documentation
mkdocs = "^1.2.3"
mkdocs-material = "^7.0.6"
# type hinting
types-PyYAML = "^5.4.3"
types-setuptools = "^57.0.0"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
