name: "Daily recording"

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  daily-recording:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@main
        with:
          fetch-depth: 0
          ref: accumulate-data

      - name: Set up Python 3.8
        uses: actions/setup-python@main
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install -U pip poetry invoke
          inv env.init

      - name: Record premium rate
        run: |
            poetry run python bahamut_ani_stat db add-premium-rate sqlite:///data/anime.db

      - name: Record new anime data
        run: |
            poetry run python bahamut_ani_stat db add-new-animes sqlite:///data/anime.db
            poetry run python bahamut_ani_stat db add-animes-detail sqlite:///data/anime.db --only-new-anime

      - name: Record animes base data
        run: |
            poetry run python bahamut_ani_stat db add-animes-base-data sqlite:///data/anime.db

      - name: Plot data
        run: |
            poetry run python bahamut_ani_stat plot anime sqlite:///data/anime.db plots/anime.html
            poetry run python bahamut_ani_stat plot premium-rate sqlite:///data/anime.db plots/premium-rate.html

      - name: Push data
        run: |
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"

            git add data plots
            git commit -m "chore(data): daily parsing"
            git push origin accumulate-data
