name: "Trigger plot manually"

on:
  workflow_dispatch:

jobs:
  plot:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@main
        with:
          fetch-depth: 0
          ref: accumulate-data

      - name: Set up Python 3.8
        uses: actions/setup-python@main
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install -U pip poetry invoke
          inv env.init-dev

      - name: Plot data
        run: |
            poetry run python bahamut_ani_stat plot anime sqlite:///data/anime.db docs/assets/plots/anime.html
            poetry run python bahamut_ani_stat plot premium-rate sqlite:///data/anime.db docs/assets/plots/premium-rate.html
            poetry run python bahamut_ani_stat plot anime-trend sqlite:///data/anime.db docs/assets/plots/new-anime-trend.html

      - name: Push data
        run: |
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"

            git add docs
            git commit -m "chore(plot): generate new plot"
            git push origin accumulate-data

      - name: Build docs
        run: |
          inv doc.build --no-local

      - name: Push documentation to Github Page
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          personal_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./site
